<div class="note_wrapper" {{action 'selectNote'}}> 
    <div class="content">        
        <div class="title">{{note.title}}</div> 
        <div class="subtitle">{{note.date}}</div>  
    </div>
</div>